
 input[type=checkbox] {
	 height: 0;
	 width: 0;
	 visibility: hidden;
}
html {
  scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	background-size: 100%;
	background-image: url('white.jpg');
	background-color: darkgray;
	
}
input[type=checkbox]:checked + label:after {
	transform: scale(4.2);
}


label {
  width: 40%;
}

#year {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  filter: brightness(250%);	
}

#year:hover {

  filter: brightness(100%);	
}
  

#flpath {
  transform-origin: center right;
  fill: '#aaaaaa';
  stroke: "#666666";
  stroke-width: 10%;
  /* stroke-dasharray: 100000;
  stroke-dashoffset: -100000; */
  stroke-linecap: butt;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  filter: brightness(110%);
}

#flpath:hover  {
  filter: brightness(100%);
  stroke-dasharray: 100000;
  stroke-dashoffset: 0;
  stroke-width: 13%;
}



.jumbotron {
    padding: 0;
    margin: 0;
}
.slidecontainer {
  width: 100%;
}

.slider {
	touch-action: none;
  filter: brightness(110%);
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  border-radius:8px;
  background: #d3d3d3;
scroll-behavior: smooth;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;


}

.slider:hover {
	filter: brightness(100%);
	
}
.key {
  filter: brightness(110%);
  -webkit-appearance: none;
  outline: none;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;


}

.key:hover {
	filter: brightness(100%);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 0;
  background: #696969;
  border-radius:8px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border: 0;
  background: #696969;
  border-radius:8px;
  cursor: pointer;
}

#info {
	filter: brightness(250%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#info:hover {
	filter: brightness(100%);
}

.key {
	width: 100%;
	height:16px;
	border-radius:8px;
	background: #aaaaaa;
	display: inline-block;
}
#minnumber {
		display: inline;
}
#maxnumber {
	text-align: right;
	display: inline;
}
#midnumber {
	text-align: center;
	display: inline;
}

.keynumber {
	font-size: 90%;
}